html,
body {
  background: #f3f3ee;
  font-family: 'Hind', sans-serif;
  font-size: 16px; /* fallback */
  font-size: calc(14px + 0.3vw);
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.1em;
}

.outer-container {
  margin: 0 1em;
}

.inner-container {
  margin: 0 auto;
  max-width: 40em;
}

.inner-container h1 {
  display: inline-block;
}

.inner-container p {
  text-align: justify;
}

.showcase-item {
  color: #000;
  display: block;
}

.showcase-item img {
  max-width: 200px;
  width: 100%;
}

@media (max-width: 767px) {
  .showcase-item h2 {
    text-align: center;
  }
}

.showcase-item > div:first-child {
  margin-bottom: 20px;
  margin-top: 20px;
}

.showcase-item:hover {
  background-color: #fff;
  color: #000;
}

.back-btn {
  float: right;
  margin-top: 15px;
}
